body {
    background-color: white;
}

#div_body {
    position: relative;
    background-color: white;
    width: 850px;
    padding-top: 20px;
}

btn {
    background-color: antiquewhite;
}

.css_tr {
    display: table-row;
}

.css_td {
    display: table-cell;
    height: 40px;
    font-size: 18px;
    width: 430px;
    vertical-align: middle;
}

.css_td_topic {
    display: table-cell;
    font-size: 20px;
    height: 45px;
}

.css_td_ans {
    display: table-cell;
    height: 40px;
    font-size: 18px;
    width: 100px;
    vertical-align: middle;
}

#div_footer {
    height: 70px;
    background-color: black;
    width: 850px;
}

form {
    display: block;
    margin: 0 auto;
}

.css_table {
    padding-bottom: 38px;
    width: 550px;
    position: relative;
    display: table;
    left: 63.3%;
    top: 0px;
    bottom: 50px;
    margin-left: -340px;
    font-family: "Microsoft JhengHei";
}

.navbar-brand > img {
    height: 100%;
    width: auto;
}

.navbar-brand {
    padding: 5px 5px;
}

.navbar-default {
    background-color: #fd9a33;
}

    .navbar-default .navbar-nav > li > a {
        color: white;
        font-size: 18px;
        font-weight: 600;
    }

.navbar {
    min-width: 55px;
}

.table {
    font-size: 16px;
}

.datapagerStyle {
    font-size: 18px;
}
